In [1]:
import pandas as pd

bios=oly_data=pd.read_excel('./data/olympics-data.xlsx',)
coffee=pd.read_csv('./warmup-data/coffee.csv')
result_numpy=pd.read_csv('./data/results.csv')
result_arrow=pd.read_csv('./data/results.csv',engine='pyarrow',dtype_backend='pyarrow')

In [8]:
filter_bios=bios[(bios['born_region']=="New Hampshire")| (bios['born_city']=='San Francisco')] # query with or condation
filter_bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
6128,6155,Raúl García-Ordóñez,1924-09-15,Littleton,New Hampshire,USA,Cuba,188.0,NaN,2013-05-03
7290,7329,Jim Walsh,1930-08-29,San Francisco,California,USA,United States,193.0,86.0,1976-03-04
8619,8666,George Finnegan,1881-09-28,San Francisco,California,USA,United States,NaN,NaN,1913-02-28
8639,8686,Frank Haller,1883-01-06,San Francisco,California,USA,United States,NaN,NaN,1939-04-30
10981,11038,DeAnne Hemmens,1964-07-02,San Francisco,California,USA,United States,NaN,NaN,NaN