In [8]:
import pandas as pd

bios=oly_data=pd.read_excel('./data/olympics-data.xlsx',)
coffee=pd.read_csv('./warmup-data/coffee.csv')

In [13]:
# .shift(1)
# bios['height_rank'] =bios['height_cm'].rank()
# bios.sort_values(['height_rank'],ascending=False).sample(10)[['name','height_rank']]

# latte=coffee[coffee['Coffee Type']=="Latte"].copy()
# latte['3Day']=latte['Units Sold'].rolling(3).sum()
# coffee
# latte

          Day Coffee Type  Units Sold   3Day
1      Monday       Latte          15    NaN
3     Tuesday       Latte          20    NaN
5   Wednesday       Latte          25   60.0
7    Thursday       Latte          30   75.0
9      Friday       Latte          35   90.0
11   Saturday       Latte          35  100.0
13     Sunday       Latte          35  105.0