In [ ]:
import pandas as pd
# results=pd.read_parquet('./data/results.parquet')
# print(results)
oly_data=pd.read_excel('./data/olympics-data.xlsx',sheet_name='results')
# oly_data

In [16]:
coffee=pd.read_csv('./warmup-data/coffee.csv')
# display(coffee)
# coffee.head(100) # to show all data
# coffee.head() # to show first data
# coffee.tail(3)#to show last data
# coffee.sample(3) #to show random data

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35