In [ ]:
import pandas as pd
# results=pd.read_parquet('./data/results.parquet')
# print(results)
# oly_data=pd.read_excel('./data/olympics-data.xlsx',sheet_name='results')
# oly_data

In [51]:
coffee=pd.read_csv('./warmup-data/coffee.csv')
# display(coffee)
# coffee.head(100) # to show all data
# coffee.head() # to show first data
# coffee.tail(3)#to show last data
# coffee.sample(3) #to show random data

In [33]:
#  coffee.loc[#row,#col]
# coffee.loc[[0,1,5]]
# coffee.loc[0:] # to show data start from row 0
# coffee.loc[0:2] # to show data start from row 0 to row 2 
# coffee.loc[0:2,'Day'] # to show data start from row 0 to row 2 and data only show about 'day'
# coffee.loc[0:2,['Day','Units Sold']] # to show data start from row 0 to row 2 and data only show about 'day' and 'sold'

# coffee.index=coffee.Day
# coffee.loc["Monday":"Tuesday"]

             Day Coffee Type  Units Sold
Day
Monday    Monday    Espresso          25
Monday    Monday       Latte          15
Tuesday  Tuesday    Espresso          30
Tuesday  Tuesday       Latte          20

In [39]:
# coffee.iat[0,0] # to get single value

'Monday'

In [50]:
# coffee["Day"] # to get "Day" data
# coffee.sort_values("Units Sold") # sorting 
# coffee.sort_values("Units Sold", ascending=False) # sorting with order
# coffee.sort_values(["Units Sold","Coffee Type"], ascending=False) # sorting with order

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
4   Wednesday    Espresso          35
7    Thursday       Latte          30
2     Tuesday    Espresso          30
5   Wednesday       Latte          25
0      Monday    Espresso          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [54]:
# for index,row in coffee.iterrows():
#     print(index)
#     print(row)
#     print("\n\n\n")

# for index,row in coffee.iterrows():
#     print(index)
#     print(row["Units Sold"])
#     print("\n\n\n")

0
25




1
15




2
30




3
20




4
35




5
25




6
40




7
30




8
45




9
35




10
45




11
35




12
45




13
35